<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="fw-bold fs-1">Full-Stack Developer & Designer</h1>
      <p class="mt-4 fw-medium fs-5">Design makes everything simpler, code makes it possible.</p>
    </div>
    <div class="col-md-12 text-center mt-4">
      <img src="assets/portfolio-boy.png" style="width: 15rem;" alt="portfolio-boy" >
    </div>
    <div class="col-md-12 text-center">
      <button class="btn btn-outline-primary custom-btn border-2 fw-medium m-4"
         data-bs-toggle="modal"
         data-bs-target="#exampleModal">
        About me
      </button>
    </div>
  </div>
</div>

<portfolio-aboutmepopup></portfolio-aboutmepopup>
