<div class="modal fade" id="exampleModal" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Um, hey guys. <strong>I’m Vigneshwaran</strong> !!!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <h6 class="lh-lg">
              I’m Passionate <strong>Angular Software Engineer</strong> with a background in
              <strong>UI/UX design</strong> and
              a strong proficiency in <strong>Angular, MS SQL Server, </strong> and
              <strong>ASP.NET Web API.</strong> Seeking to
              leverage technical expertise and creativity to contribute to innovative
              web development projects. Eager to apply skills in Angular, UI/UX design,
              and emerging technologies to drive excellence in <strong>Software engineering.</strong>
            </h6>
            <h6 class="lh-lg mt-4">
              With two years of industrial experience in <strong>Angular, MS SQL Server, </strong> and
              <strong>ASP.NET Web API.</strong>
              I bring a robust skill set and proven expertise to any development team.
              My proficiency in these technologies enables me to
              <strong> architect, develop,</strong>
              and <strong> deploy scalable web applications</strong> with efficiency and precision.
              I am passionate about crafting seamless
              <strong>user experiences</strong> and <strong>optimizing backend functionalities</strong>
              to meet the unique needs of clients and end-users alike.
              My dedication to staying current with emerging technologies ensures that
              <strong>I can leverage
                the latest tools and techniques to deliver innovative solutions that drive business growth
                and success.</strong>
            </h6>
          </div>
          <div class="col-md-4 text-end mt-4">
            <img src="assets/boy-01.png" alt="" srcset="" class="w-100">
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary border-2 fw-medium custom-btn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
